/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Colors */
:root {
	--transparent: rgba(0, 0, 0, 0);

	--shadow-color-1: rgba(0, 0, 0, 0.12);
	--shadow-color-2: rgba(0, 0, 0, 0.20);
}

@media not all and (prefers-color-scheme: dark) {
	:root {
		--bg-color: #ffffff;
		--text-color: #000000;

		--link-color-active: #ff0000;
		--link-color-visited: #800080;
		--link-color: #0000ff;

		--border-color: var(--text-color);
		--button-bg-color-hover: #ff8800;
		--button-bg-color: var(--bg-color);
		--button-text-color-hover: var(--text-color);
		--button-text-color: #555555;
		--content-bg-color: var(--bg-color);
		--content-text-color: var(--text-color);
		--footer-text-color: #888888;
		--header-text-color: var(--text-color);
		--site-bg-color: #f9f9f9;
		--site-text-color: var(--text-color);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #000000;
		--text-color: #ffffff;

		--link-color-active: #ff6666;
		--link-color-visited: #dd66dd;
		--link-color: #6666ff;

		--border-color: var(--text-color);
		--button-bg-color-hover: #bb5500;
		--button-bg-color: var(--bg-color);
		--button-text-color-hover: var(--text-color);
		--button-text-color: #aaaaaa;
		--content-bg-color: var(--bg-color);
		--content-text-color: var(--text-color);
		--footer-text-color: #777777;
		--header-text-color: var(--text-color);
		--site-bg-color: #111111;
		--site-text-color: var(--text-color);
	}
}

/* General Stuff */
html {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 1.5em;
}

body {
	background: var(--site-bg-color);
	color: var(--site-text-color);
}

header,
section,
footer,
nav {
	display: block;
}

a:link { color: var(--link-color); }
a:visited { color: var(--link-color-visited); }
a:active { color: var(--link-color-active); }

#site-header,
#content-wrapper,
#site-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

#site-nav a,
#content {
	box-shadow: 0 0px 2px var(--shadow-color-1), 0 2px 2px var(--shadow-color-2);
}

/* Page Header */
#site-header {
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	padding: 1em;
	text-align: center;
}

#site-header p {
	font-family: serif;
	font-size: 0.5em;
}

/* Navigation */
#site-nav {
	padding: 17px;
	position: absolute;
	right: 800px;
	text-align: right;
	top: 0px;
	width: 100px;
}

#site-nav ul {
	display: inline-block;
}

#site-nav li {
	list-style-type: none;
	margin: 0.5em 0;
}

#site-nav li:first-child {
	margin-top: 0;
}

#site-nav li:last-child {
	margin-bottom: 0;
}

#site-nav a {
	background: var(--button-bg-color);
	border-radius: 3px;
	color: var(--button-text-color);
	display: block;
	height: auto;
	padding: 0.1em 0.5em;
	text-decoration: none;
	-webkit-tap-highlight-color: var(--transparent);
	-webkit-tap-highlight-color: transparent;
}

#site-nav a:hover {
	background: var(--button-bg-color-hover);
	color: var(--button-text-color-hover);
}

@media (max-width: 1024px) {
	#site-header {
		padding-bottom: 0;
	}

	#site-nav {
		max-width: 800px;
		position: relative;
		right: 0px;
		text-align: center;
		width: auto;
	}

	#site-nav li {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
}

/* Content */
#content-wrapper {
	position: relative;
}

#content {
	background: var(--content-bg-color);
	border-radius: 3px;
	color: var(--context-text-color);
	padding: 2em;
}

#content > *:first-child,
#content > header > *:first-child {
	margin-top: 0;
}

#content > *:last-child,
#content > p > *:last-child {
	margin-bottom: 0;
}

#content header {
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	font-weight: bold;
}

#content h1 { font-size: 2.00em; margin-top: 0.67em; margin-bottom: 0.67em; }
#content h2 { font-size: 1.50em; margin-top: 0.83em; margin-bottom: 0.83em; }
#content h3 { font-size: 1.17em; margin-top: 1.00em; margin-bottom: 1.00em; }
#content h4 { font-size: 1.00em; margin-top: 1.33em; margin-bottom: 1.33em; }
#content h5 { font-size: 0.83em; margin-top: 1.67em; margin-bottom: 1.67em; }
#content h6 { font-size: 0.67em; margin-top: 2.33em; margin-bottom: 2.33em; }

#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a,
#content h6 a {
	text-decoration: none;
}

#content p {
	margin-bottom: 0.5em;
}

#content p + p {
	text-indent: 2em;
}

#content ul,
#content ol {
	margin: 0.5em 0;
}

#content li {
	margin-left: 2em;
}

#content blockquote {
	border-left: 3px solid var(--border-color);
	font-style: italic;
	padding: 0 1em;
	margin: 1em 0;
}

#content hr {
	border: none;
	border-bottom: 1px solid var(--shadow-color-1);
	margin: 1em auto;
}

#content audio,
#content img,
#content video {
	display: block;
	height: auto;
	margin: 1em auto;
	max-width: 100%;
}

#content iframe {
	margin: 1em auto;
	width: 100%;
}

#content pre {
	display: block;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.25em;
	padding: 1em;
	tab-size: 4;
	white-space: pre-wrap;
}

#content #post-header > h1 {
	margin-bottom: 0;
}

#content #post-header > div {
	margin: 1em;
	font-size: 0.8em;
}

/* Footer */
#site-footer {
	clear: both;
	color: var(--footer-text-color);
	padding: 0.5em;
	text-align: center;
}

#site-footer a {
	color: var(--footer-text-color);
}
