/********** CSS Reset **********/
* {
	margin: 0;
	padding: 0;
}

/********** General Stuff **********/
html {
	font-family: serif;
	font-size: 17px;
	line-height: 1.5em;
}

body {
	background: #f9f9f9;
	color: #000000;
}

header, section, footer, nav {
	display: block;
}

#site-header, #content-wrapper, #site-footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

/********** Page Header **********/
#site-header {
	font-size: 2em;
	padding: 1em;
	text-align: center;
}

#site-header p {
	font-size: 0.5em;
}

/********** Navigation **********/
#site-nav {
	padding: 17px;
	position: absolute;
	right: 800px;
	top: 0px;
	width: 100px;
}

#site-nav li {
	list-style-type: none;
	margin: 1px;
}

#site-nav a {
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	color: #777777;
	display: block;
	height: auto;
	padding: 0.05em 0.5em;
	text-decoration: none;
}

#site-nav a:hover {
	background: #00cc00;
	border: 1px solid #333333;
	color: #000000;
}

@media (max-width: 1068px) { /* 800 + 2 * (100 + 2 * 17) */
	#site-header {
		padding-bottom: 0;
	}

	#site-nav {
		max-width: 800px;
		position: relative;
		right: 0px;
		text-align: center;
		width: auto;
	}

	#site-nav li {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
}

/********** Content **********/
#content-wrapper {
	position: relative;
}

#content {
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 1px 1px 7px #888888;
	padding: 2em;
}

#content > :first-child, #content > header > :first-child {
	margin-top: 0;
}

#content > :last-child {
	margin-bottom: 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	font-family: dejavu, freesans, sans-serif;
	font-weight: bold;
}

#content h1 { font-size: 2.00em; margin-bottom: 0.67em; margin-top: 0.67em; }
#content h2 { font-size: 1.50em; margin-bottom: 0.83em; margin-top: 0.83em; }
#content h3 { font-size: 1.17em; margin-bottom: 1.00em; margin-top: 1.00em; }
#content h4 { font-size: 1.00em; margin-bottom: 1.33em; margin-top: 1.33em; }
#content h5 { font-size: 0.83em; margin-bottom: 1.67em; margin-top: 1.67em; }
#content h6 { font-size: 0.67em; margin-bottom: 2.33em; margin-top: 2.33em; }

#content p {
	margin-bottom: 0.5em;
}

#content p + p {
	text-indent: 2em;
}

#content ul, #content ol {
	margin: 0.5em 0;
}

#content li {
	margin-left: 2em;
}

#content blockquote {
	border-left: 3px solid #000000;
	font-style: italic;
	padding: 0 1em;
	margin: 1em 0;
}

#content #post-header > h1 {
	margin-bottom: 0;
}

#content #post-header > div {
	margin: 1em;
	font-size: 0.8em;
}

/********** Footer **********/
#site-footer {
	clear: both;
	color: #aaaaaa;
	padding: 0.5em;
	text-align: center;
}

#site-footer a {
	color: #aaaaaa;
}
