body {
	background: #f9f9f9;
	color: #000000;
}

/********** Page Header **********/
header {
	padding: 1em;
	font-size: 2em;
}

header p {
	font-size: 0.5em;
	padding: 0.1em 0 0 2em;
}

/********** Navigation **********/
nav {
	float: left;
	margin: 1em;
	width: 100px;
}

nav li {
	list-style-type: none;
	margin: 1px;
}

nav a {
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	color: #777777;
	display: block;
	height: auto;
	padding: 0.05em 0.5em;
	text-decoration: none;
}

nav a:hover {
	background: #00cc00;
	border: 1px solid #333333;
	color: #000000;
}

/********** Content **********/
#content-wrapper {
	background: #ffffff;
	border-radius: 3px;
	box-shadow: 1px 1px 7px #888888;
	float: left;
	max-width: 75%;
}

#content {
	margin: 2em;
}

/********** Footer **********/
footer {
	clear: both;
	color: #aaaaaa;
	text-align: center;
}

footer a {
	color: #aaaaaa;
}
