<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="preload" as="style" href="/assets/syntax.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <noscript>
      <link rel="stylesheet" href="/assets/syntax.css">
    </noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header id="site-header">
      Ryan's Website
      <p>Work in progress</p>
    </header>

    <div id="content-wrapper">
      <nav id="site-nav">
        <ul>
          <li><a href="{% link index.md %}" class="button">Home</a></li>
          <li><a href="{% link about.md %}" class="button">About</a></li>
          <li><a href="{% link projects.md %}" class="button">Projects</a></li>
        </ul>
      </nav>

      {{ content }}
    </div>

    <footer id="site-footer">
      <p>Copyright &copy; 2012-2023 Ryan Koesters</p>
      <p class="dot-separated">
        <span><a href="https://github.com/rkoesters" rel="me">GitHub</a></span>
        <span><a href="https://www.linkedin.com/in/ryankoesters" rel="me">LinkedIn</a></span>
        <span><a href="https://mastodon.social/@rkoesters" rel="me">Mastodon</a></span>
      </p>
    </footer>

    <script>
      {% include script.js %}
    </script>
  </body>
</html>
