---

name: CI

'on': 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 0 * * 6

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up build dependencies
        run: |
          sudo apt-get update -y -q
          sudo apt-get install -y -q jekyll ruby-html-proofer

      - name: Run jekyll build
        run: jekyll build --verbose --safe

      - name: Run jekyll doctor
        run: jekyll doctor --safe

      - name: Run htmlproofer
        run: |
          htmlproofer \
            --check-favicon \
            --check-html \
            --check-img-http \
            --check-opengraph \
            --enforce-https \
            --only-4xx \
            --http-status-ignore=418,429 \
            _site/
